ul{
    list-style: none;
}
.Group {
    border: 1px solid #929aab;
    margin: 40px;
    padding-right: 4px;
}
.Group > input[type="text"] {
    display: inlie-block;
    border: none;
    width: 100%;
    margin: 0 auto;
    background-color: #929aab;
    color: white;
    text-align: center;
    height: 2em;
    line-height: 2em;
    font-size: 1.5em;
    border-bottom: 1px solid #929aab;
}
.Group .team-content ul{
    display: flex;
    justify-content: flex-start;
}
.Group .team-content ul li {
    height: 1.5em;
    line-height: 1.5em;
    padding: 10px 20px;
    margin: 10px;
    background-color: #eeeeee;
    margin-right: 80px;
}